@using Codebase.Entities
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-12">
        <a asp-action="Add" class="btn btn-primary mt-5">Ürün Ekle</a>
        <a asp-controller="Order" asp-action="Index" class="btn btn-success mt-5">Geçmiş Ürün Çıkışları</a>
    </div>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Fiyatı</th>
                <th scope="col">Adedi</th>
                <th scope="col">Çıkış</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td><a class="btn btn-primary" asp-controller="Order" asp-action="Order" asp-route-id="@item.Id">Çıkış</a></td>
                    <td><a class="btn btn-success" asp-action="Update" asp-route-id="@item.Id">Güncelle</a></td>
                    <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
